<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.github.jihyundev.spring_batch_etl.mapper.mall.MallConfigMapper">
    <select id="findById" resultType="MallConfig" parameterType="long">
        select  mall_id,
                mall_name,
                api_url
        from tb_mall_config
        where mall_id = #{mallId}
        and is_usable = 'T'
    </select>

    <select id="findAllMallIds" resultType="long">
        select mall_id
        from tb_mall_config
        where is_usable = 'T'
    </select>

    <insert id="insert" parameterType="MallConfig">
        INSERT INTO tb_mall_config(
               mall_id,
               mall_name,
               is_usable,
               created_at
        )
        VALUES(
               #{mallId},
               #{mallName},
               #{isUsable},
               #{createdAt}
              )
    </insert>
</mapper>